/* Collapsible Section Styles */
.collapsible-section {
    margin: 30px 0;
}

.collapsible-header {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
}

.collapsible-header:hover {
    background-color: transparent;
}

.collapsible-header h3 {
    color: #333;
    font-weight: 600;
}

.toggle-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
    color: #666;
}

.toggle-icon.rotated {
    transform: rotate(-180deg);
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: transparent;
}

.collapsible-content.active {
    max-height: 1000px; /* Adjust if your content is taller */
    padding: 20px;
}

.collapsible-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.collapsible-content p:last-child {
    margin-bottom: 0;
}
.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
    filter: grayscale(30%);
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        filter: grayscale(30%);
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */
